{% load static %}
<footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 p-0 footer-copyright">
                <p class="mb-0">Copyright 2024 © Zono theme by pixelstrap.</p>
              </div>
              <div class="col-md-6 p-0">
                <p class="heart mb-0">Hand crafted &amp; made with
                  <svg class="footer-icon">
                    <use href="{% static 'assets/svg/icon-sprite.svg#heart' %}"></use>
                  </svg>
                </p>
              </div>
            </div>
          </div>
        </footer>